AURAVANT_token = #Token para usar la API de AURAVANT en los datos de autenticación cuando se invoca
AURAVANT_url =   #URL base con el hostname de la API de AURAVANT en el entorno que se despliegue
AURAVANT_USUARIO = #usuario registrado en AURAVANT
AURAVANT_PASSWORD = #password del usuario registrado en AURAVANT
AURAVANT_ESPACIO = #espacio en AURAVANT donde esta registrado el usuario
AURAVANT_SUBDOMAIN = #subdomain en AURAVANT donde esta registrado el usuario
AURAVANT_CLIENT_ID = #ID del cliente en el espacio AURAVANT donde esta registrado el usuario
AURAVANT_SECRET = #Clave SECRET en el espacio AURAVANT donde esta registrado el usuario